<footer>
    <div class="container">
        <div class="news-letter">
            <div class="flex flex-col gap-3">
                <h3>Subscribe to our newsletter</h3>
                <p>Receive the Latest Updates, News, and Insights from Tradian</p>
            </div>
            <div>
                <form class="flex">
                    <input type="email" placeholder="Enter your email address" required/>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    
    <div class="quick-links">
        <ul>
            <li><p>Quick Links</p></li>
            <li><a>oneGov</a></li>
            <li><a>Tradenet</a></li>
        </ul>
        <ul>
   
            <li><p>logistics</p></li>
            <li><a>vessels</a></li>
            <li><a>shipping agents</a></li>
            <li><a>freight forwarders</a></li>
            <li><a>courier agents</a></li>
            <li><a>brokers</a></li>
        </ul>
    </div>
</footer>